<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <label for="data-limit">Show amount of latest measurements:</label>
        <select id="data-limit">
            <option value="2">2</option>
            <option value="20" selected>20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <p></p>
        <label for="data-type">Choose sensor type:</label>
        <select id="data-type">
            <option value="Temperature" selected>Temperature</option>
            <option value="Test">Test</option>
            <option value="Humidity">Humidity</option>
            <option value="Pressure">Pressure</option>
        </select>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/data_analysis.js" defer></script>
        <button id="export-csv">Export CSV</button>
        <p id="avg-value">Average value: </p>
        <p id="min-value">Min value: </p>
        <p id="max-value">Max value: </p>
    </body>
</html>